.accordin__container {
  width: 360px;
  height: 530;

  background-color: #fff;
  border-radius: 9px;
  box-shadow: 0px 3px 5px rgb(0 0 0 / 40%);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.accordin__heading {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 50px 0px;
}
.accordin__title {
  font-size: 25px;
  font-weight: 400;
  text-transform: capitalize;
}
.accordin__content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.MyAccordin__Question__box {
  display: flex;
  justify-content: center;
  align-items: center;
}
.MyAccordin__button {
  margin-right: 15px;
  font-size: 20px;
  font-weight: 300;
  background-color: darkgrey;
  color: #fff;
  height: 35px;
  width: 35px;
  border-radius: 7px;
  text-align: center;
  cursor: pointer;
}
.MyAccordin__button:hover {
  background-color: green;
}
.MyAccordin__Question {
  font-size: 25px;
  text-transform: capitalize;
  color: #0000009e;
}
p {
  font-size: 15px;
  text-align: center;
  font-weight: 300;
  background-color: #eee;
}
