.clock__time {
  font-size: 35px;
  font-weight: 400;
  color: #ff0000eb;
  margin-bottom: 10px;
}
.clock__button {
  padding: 6px 20px;
  background-color: rgba(0, 4, 255, 0.582);
  border-radius: 5px;
  font-size: 25px;
  font-weight: 300;
  color: #ffffff8c;
  text-transform: capitalize;
}
.clock__button:hover {
  box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.4);
  cursor: pointer;
  transform: scale(1.3);
}
