.createNotes__container {
  height: 200px;
  width: 420px;
  background-color: #eee;
  border-radius: 7px;
  margin-top: 30px;
  position: relative;
  left: 40%;
  box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.3);
}
.form__container {
}

.form__input {
  width: 420px;
  height: 52px;
  text-transform: capitalize;
  font-size: 25px;
  font-weight: 500;
  text-align: start;
  border: none;
  outline: none;
  font-weight: 300;
  padding: 6px 10px;
  background-color: #eee;
  border-radius: 5px;
  color: #000000b3;
}
.form__textarea {
  width: 420px;
  height: 138px;
  border: none;
  outline: none;
  text-transform: capitalize;
  background-color: #eee;
  color: #00000096;

  padding: 10px;
}

.form__button {
  position: relative;
  top: -38px;
  left: 180px;
  height: 40px;
  width: 50px;
}
.form__button:hover {
  color: green;
}
