.form__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.form__title {
  font-size: 35px;
  font-weight: 300;
  text-transform: capitalize;
  color: #712ca5c2;
  margin-bottom: 10px;
}
.form__input {
  width: 300px;
  height: 30px;
  border: 1px solid rgba(221, 125, 125, 0.644);
  text-align: center;
  margin-bottom: 10px;
}

.btn__form {
  text-transform: capitalize;
  padding: 3px 7px;
  background-color: grey;
  color: #fff;
  font-size: 20px;
  cursor: pointer;
}
